body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ededed86
}
.container{
  display: flex;
  flex-direction: column;
}
.content {
  display: flex;
  position: relative;
  z-index: 25;
  flex-direction: row;
  gap: 20px;
}
.headText {
  align-self: center;
  color: #dc9852
}
.backgroundImage {
  z-index: 10;
  opacity: 50%;
  height: 500px;
  width: 800px;
  background: url(./assets/img/fox.png) no-repeat center center fixed;
}